<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905732111903-gbk7ra3i2mr37j1f7ria8le2elvdi7fu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905732111903-gbk7ra3i2mr37j1f7ria8le2elvdi7fu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>905732111903-rdttl2satnnd94lbga4i8smnffqme2ll.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGPF_ZsSPUpymW39TcqPAu3VbyhHfQPRc</string>
	<key>GCM_SENDER_ID</key>
	<string>905732111903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnproduction</string>
	<key>PROJECT_ID</key>
	<string>rnproduction-cd364</string>
	<key>STORAGE_BUCKET</key>
	<string>rnproduction-cd364.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905732111903:ios:f4fed0dc7b5dac9d811f2a</string>
</dict>
</plist>